.header__menu {
  position: relative;
  display: none @800 block;
  size: 64px;
  margin-left: auto;
  -webkit-tap-highlight-color: transparent;
}

.header__menu span {
  position: absolute 50% auto auto 50%;
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  border-radius: 1.5px;
  transition: 250ms;
  transform: translateX(-50%) translateY(-50%);
}
.header__menu span:nth-of-type(1) {
  transform: translateX(-50%) translateY(-50%) translateY(-8px);
}
.header__menu span:nth-of-type(3) {
  transform: translateX(-50%) translateY(-50%) translateY(8px);
}

.header__menu.header__menu--open span:nth-of-type(2) {
  opacity: 0;
}
.header__menu.header__menu--open span:nth-of-type(1) {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.header__menu.header__menu--open span:nth-of-type(3) {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
