.content-header-blog {
  margin: auto @800 0;
  width: 50% @800 100%;
  text-align: center @800 left;
}

.title-blog {
  font-size: 46px @800 36px;
  line-height: 120%;
  margin-top: 70px;
  margin-bottom: 20px;
  font-weight: 800;
}

.desc-blog {
  font-size: 24px @800 17px;
  line-height: 140%;
  opacity: 0.7;
}

.content-search {
  width: 100%;
  display: flex @800 none;
  margin: 50px auto 40px;
  justify-content: space-between;
  flex-direction: @800 row-reverse;
  flex-wrap: @800 wrap;
}

.content-search-mobile {
  width: 100%;
  display: none @800 flex;
  margin: 50px auto 40px;
  justify-content: space-between;
  flex-direction: @800 row-reverse;
  flex-wrap: @800 wrap;
}

.content-search__byunivers {
  background: #f3f5f6;
  border-radius: 5px;
  font-size: 15px;
  color: #292b2f;
  width: 21% @800 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  position: relative;
}

.content-search__category {
  background: #f3f5f6;
  border-radius: 5px;
  line-height: 18px;
  padding: 20px 30px;
  color: #292b2f;
  position: relative;
  height: @800 60px;
  width: 15% @800 150px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  min-width: @800 145px;
}
.content-search__category {
  margin-x: @800 5px;
}

.content-search__category:first-child {
  margin-left: @800 16px;
}
.content-search__category:last-child {
  margin-right: @800 16px;
}

.content-search__byunivers.active {
  transition: 0.2s ease-in-out;
  width: 37% @800 100%;
}
.content-search__category:hover .plus-white {
  opacity: 1 @800 initial;
  transform: rotateZ(90deg) @800 none;
}

.content-search__category:hover .plus {
  opacity: 0 @800 initial;
  transform: rotateZ(90deg) @800 none;
}

.content-search__category.active .plus-white {
  transform: rotateZ(90deg);
  opacity: 1;
}

.content-search__category.active .plus {
  transform: rotateZ(90deg);
  opacity: 0;
}

.content-search__category:hover {
  color: #fff @800 #000;
}

img.plus {
  position: absolute;
  top: 24px;
  right: 20px;
  z-index: @800 111;
  width: 10px;
  transition: 0.2s ease-in-out;
}

img.plus.active {
  display: none;
}

img.plus-universe {
  position: absolute;
  top: 19px;
  right: 20px;
  width: 10px;
  transition: 0.2s ease-in-out;
}

img.plus-blue {
  position: absolute;
  top: 17px;
  width: 15px;
  right: 18px;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

img.plus-white {
  position: absolute;
  top: 25px;
  width: 8px;
  right: 21px;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.content-search__init {
  width: 0%;
  padding: 0;
  overflow: hidden;
  margin-left: -22px;
}

.content-search__init.active {
  margin-left: 0px;
  transition: 0.2s ease-in-out;
  width: 15% @800 33%;
  color: $primary;
  padding: 20px 30px @430 20px 10px;
  border-radius: 5px;
  background: rgba(9, 65, 222, 0.1);
  cursor: pointer;
  text-align: center;
  transition: 0.2s ease-in-out;
}

.vegetal:hover {
  background: #38d36d @800 #f3f5f6;
}
.flex-content .vegetal.active,
.content-search .vegetal.active {
  background: #38d36d;
  color: #fff;
}

.jardinage:hover {
  background: #eb7634 @800 #f3f5f6;
}
.flex-content .jardinage.active,
.content-search .jardinage.active {
  background: #eb7634;
  color: #fff;
}

.maison:hover {
  background: #94ca20 @800 #f3f5f6;
}
.flex-content .maison.active,
.content-search .maison.active {
  background: #94ca20;
  color: #fff;
}

.animal:hover {
  background: #2990ef @800 #f3f5f6;
}
.flex-content .animal.active,
.content-search .animal.active {
  background: #2990ef;
  color: #fff;
}

.gourmet:hover {
  background: #764535 @800 #f3f5f6;
}
.flex-content .gourmet.active,
.content-search .gourmet.active {
  background: #764535;
  color: #fff;
}

.pleinair:hover {
  background: #3ec9c0 @800 #f3f5f6;
}
.flex-content .pleinair.active,
.content-search .pleinair.active {
  background: #3ec9c0;
  color: #fff;
}

.more {
  height: 8px;
  margin-top: 6px;
  position: absolute;
  right: 20px;
  top: 19px;
}

.content-search__byunivers--name {
  padding: 20px;
  width: 100%;
}

.content-search__byunivers--list {
  position: absolute;
  width: 100%;
  top: 65px;
  left: 0;
  z-index: 111;
  box-shadow: 0px 25.8192px 34.4257px rgba(0, 0, 0, 0.06);
  border: 1px solid #f3f5f6;
  background: #fff;
  padding: 25px 25px 17px;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(10%);
  z-index: -11;
  transition: 0.3s ease-in-out;
}

.content-search__byunivers--list.active {
  transform: translateY(0);
  z-index: 1111111;
  opacity: 1;
}

.content-search__byunivers--list--item {
  position: relative;
  background: #f3f5f6;
  padding: 15px 25px;
  border-radius: 5px;
  margin-bottom: 8px;
}

.content-search__byunivers--list--item:hover,
.content-search__byunivers--list--item.active {
  background: rgba(9, 65, 222, 0.1);
  color: $primary;
}

.content-search__byunivers--list--item.active .plus-universe {
  transform: rotateZ(45deg);
}

.content-search__byunivers--list--item.active .plus-blue {
  opacity: 1;
}

.overlay-hidden-searchbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -111;
}

.overlay-hidden-searchbar.active {
  z-index: 11111;
}

.tag-item {
  color: #0941de;
  background: rgba(9, 65, 222, 0.1);
  padding: 10px;
  text-align: center;
  font-size: 0.775rem;
  border-radius: 4px;
  margin-right: 10px;
  display: flex;
  position: relative;
  min-width: 8%;
  cursor: pointer;
}

.content-tags {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  border-radius: 4px;
  margin-right: 15px;
}

img.plus-tag {
  top: 13px;
  right: 11px;
  width: 10px;

  position: absolute;
  transform: rotateZ(45deg);
  transition: 0.2s ease-in-out;
}

.flex-content {
  display: flex;
  overflow: scroll;
  height: 70px @800 80px;
  width: 100%;
  margin-right: 16px;
  overflow-y: hidden;
}

.content-search-mobile {
  position: relative;
  overflow: hidden;
  margin: @800 50px auto 40px;
  height: 60px;
}

.filter-mobile {
  margin-bottom: 20px;
  display: none @800 block;
}

.flex-button {
  display: flex;
  justify-content: space-between;
}

.content-search__byunivers {
  width: @800 65%;
}

.none-color,
.none-color:hover {
  color: inherit;
  text-decoration: none;
}

.content-search__category.activeWidth {
  width: 13%;
}
