.documents__side {
  order: @800 2;
}
.documents__side ul::before {
  content: 'Consulter une autre page';
  display: none @800 block;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: bold;
}

.documents__side ul {
  list-style: none;
  margin-y: 0;
  padding-y: 20px;
  padding-x: 0;
}

.documents__side ul li {
  margin-y: 8px;
}
.documents__side ul li a {
  display: block;
  padding-y: 8px 10px;
  padding-x: 16px;

  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  color: #65686d;
  text-decoration: none;

  background: #eef1f7;
  border-radius: 4px;
  transition: 120ms;
}
.documents__side ul li a:hover {
  color: $primary;
  background-color: #e6ecfc;
}
.documents__side ul li.--active a {
  font-weight: bold;
  color: $primary;
  background-color: #e6ecfc;
}
