.not-found {
  position: relative;
  width: 100%;
  background: url('../../static/404-compress.gif');
  background-position: center;
  background-size: cover;
  height: 90vh;
}

.not-found>img {
  object-fit: cover;
}

.not-found__wrap {
  display: grid @800 block;
  grid-template-columns: repeat(2, 1fr);
}

.button {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.not-found__content {
  padding-y: 120px 100px @(max-height: 1000px) 80px 60px @(max-height: 800px) 30px 0 @600 0px 0;
}

.not-found__content h1 {
  margin-y: 0 19px;
  font-weight: bold;
  font-size: 112px @1000 80px;
  line-height: 1;
  color: $primary;
}

.not-found__content h1 span:nth-of-type(2) {
  display: inline-block;
  transform: rotate(-9.32deg);
}

.not-found__content h2 {
  margin-y: 19px;
  font-size: 25px;
  line-height: 126%;
  font-weight: 500;
}

.not-found__content h3 {
  margin-y: 19px 32px;
  font-weight: 500;
  font-size: 20px @600 15px;
  line-height: 126%;
}

.not-found__content ul {
  margin-y: 32px 0;
  padding: 0;
  list-style-type: none;
}

.not-found__content a {
  display: block;
  padding-y: 4px;
  font-weight: 400;
  font-size: 22px @1000 20px @800 18px @600 17px;
  line-height: 1.3;
  text-decoration-line: underline;
}

.not-found__illustration {
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found__illustration img {
  width: 100%;
  max-width: 600px;
  margin-top: 50px;
}