html,
body {
  background: $footer;
}

body {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 16px;
  font-family: 'Roboto';
}

.wf-active body {
  font-family: 'Roboto';
}

::-moz-focus-inner {
  border: 0;
}

.title-part-blue>div>p>strong,
.title-part-blue>div>h1>strong,
.title-part-blue>div>h2>strong {
  color: $primary;
}