.agenda {
  margin-top: 30px;
}

.title {
  font-family: "Josefin Sans";
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin-y: 10px 20px;
}

.color-primary {
  color: $primary;
}

.container-space {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.container-loader {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 50vh;
}

.none-href {
  text-decoration: none;
  color: inherit;
}

.popup {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 37% @800 50% @400 100%;
  z-index: 11111;
  background: #fff;
  overflow-y: auto;
  padding: 30px;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.marker {
  background-image: url('../../static/pointer-red.svg');
  height: 40px;
  width: 30px;
  cursor: pointer;
}

.map {
  position: relative;
}

.col-5 {
  flex: 0.49 @1200 1;
  min-width: @1250 100%;
  margin-top: @1250 20px;
}

.icon-info {
  height: 20px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 40px;
}

.info>img {
  margin-right: 8px;
}

.box-event__info {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  line-height: 1.6;
}

.box-event__title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.box-event.active {
  padding: 30px;
  background: #f9f9f9;
  border-radius: 4px;
}

.clear {
  clear: both;
}

.alert {
  border-radius: 5px;
  padding: 10px;
  background: #ef5c35;
  color: #fff;
  display: flex;
  align-items: center;
}

.alert>img {
  margin-right: 10px;
}

.box-event__title-princip {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  border-bottom: 1px solid;
}

.container-space {
  margin-bottom: 30px;
}

.filters {
  color: #949494;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.content-filters {
  display: flex;
  width: 9%;
  justify-content: space-between;
}

.list.active {
  color: #EF5D36;
}

.list {
  display: flex;
  transition: .2s ease-in-out;
  align-items: center;
  cursor: pointer;
}

.list>img {
  margin-right: 5px;
  height: 18px;
}

.filters span {
  text-transform: initial;
  color: #000;
  cursor: pointer;
  padding-left: 10px;
}

.filters span.active {
  color: #EF5D36;
}

.alert-error {
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  background: #EA0000;
  display: flex;
  align-items: center;
}

.alert-error>img {
  margin-right: 10px;
}

.title-box {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

.text-sample {
  line-height: 1.5;
}

.chevron-black {
  height: 15px;
  margin-bottom: -2px;
}

.back {
  margin-bottom: 20px;
}

.content-rules {
  display: flex;
  justify-content: space-between;
}

.content-rules>ul {
  margin-top: 0;
  line-height: 1.7;
  padding-left: 20px;
}

.button-green {
  padding: 15px 50px;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  background: #00D37D;
  border-radius: 5px;
  float: right;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.card-global-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.button-green:hover {
  opacity: 0.9;
}

.ruler {
  margin: 20px 0;
  height: 1px;
  width: 100%;
  background: #ccc;
}

.group-input {
  margin: 20px 0;
}

.group-input>input[type="text"],
.group-input>input[type="email"] {
  height: auto;
  padding: 10px 10px;
  font-size: 16px;
  line-height: normal;
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  display: block;
  width: 100%;
  margin-top: 5px;
}

.color-red {
  color: red;
}