.about {
}

.about__split {
  display: grid @800 block;
  grid-template-columns: 42% 1fr;
  align-items: center;
  grid-gap: 60px @1000 26px;
  margin-y: 40px;
}
.about__split.about__split--reverse {
  grid-template-columns: 1fr 42%;
}

.about__split__img {
  height: 290px @900 100% @800 200px;
  margin-bottom: @800 16px;
}
.about__split.about__split--reverse .about__split__img {
  grid-area: 1 / 2 / 1 / 2;
}
.about__split__img img {
  size: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 4px;
}

.about__split__content {
}

.about__split__content > h1 {
  margin-y: 0 15px;
  font-weight: bold;
  font-size: 42px @800 34px @600 28px;
  line-height: 1.3;
}
.about__split__content .about__split__siege {
  margin-y: 0 8px;
  font-weight: bold;
  font-size: 28px @600 24px;
  line-height: 36px;
}

.about__split__content > h2 {
  margin-y: 8px 24px;
  font-weight: 500;
  font-size: 22px @600 19px;
  line-height: normal;
}

.about__split__content > p {
  margin-y: 15px;
  font-weight: normal;
  font-size: 16px @800 15px;
  line-height: 1.4;
  color: #696969;
}
